body{
    background-color: peachpuff;
}
h1{
    margin-left: 20 px;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}
nav ul{
    border-style: solid;
    border-width: 2px;
    border-color: aliceblue;
    border-radius: 10px;
    background-color: sandybrown;
    padding: 10px;
}
nav ul li{
    margin-left: 10px;
    margin-right: 10px;
    display:inline;
}
table,th,td{
    border: 1px solid honeydew;
}
tr{
    background-color: beige;
}
td,th{
    color: blueviolet;
}
img{
    height: 200;
    width: 300;
}



